<form action="/posts/create" method="post">
    <p>제목</p>
    <input type="text" name="post_title">
    <p>내용</p>
    <input type="text" name="post_content">
    <br>
    <input type="submit" value="보내기">
</form>